body {
  font-family: "open sans", Verdana, arial, sans-serif;
}

table {
  font-family: Consolas, "Courier New", "Liberation Mono", monospace;
}

#loadingSpinnerSpan {
  visibility: hidden;
}

#pushButton {
  vertical-align: top;
}
